<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <!-- template -->

    <link rel="stylesheet" href="/static/js/vendor/slick/slick.css" />
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="/static/css/myStyle.css" />
    <!-- JS - MEDIAQUERIES -->
    <script src="/static/js/css3-mediaqueries.js"></script>

    <title>BBC News</title>
  </head>
  <body class="bg-dark">
    <div class="container">
        <div class="row my-5 py-5">

      <div class="bg-light text-muted login-form-container col-md-8 col-lg-6 mx-auto my-5 border rounded-lg px-5 py-4">
        <div class="row mb-3 border-bottom py-3">
            <div class="col">
                <h2><i class="fas fa-user-circle mr-2"></i>Login</h2>
            </div>
        </div>
        <form class="p-3 mt-4">
          <div class="row form-group">
            <label class="col-lg-4 col-form-label " for="inp_email">Email address</label>
            <div class="col-lg-8">
                <input
                  type="email"
                  class="form-control"
                  id="inp_email"
                  aria-describedby="emailHelp"
                />
            </div>
          </div>
          <div class="row form-group mt-4">
            <label class="col-lg-4 col-form-label " for="inp_password">Password</label>
            <div class="col-lg-8">
            <input
              type="password"
              class="form-control"
              id="inp_password"
            />
            </div>
        </div>
          <div class="form-group form-check mt-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="remember_me"
            />
            <label class="form-check-label ml-1" for="remember_me"
              >Remember</label
            >
          </div>          
          <div class="form-group mt-5 mb-0">
                <button type="submit" class="form-control btn btn-primary">Login</button>
          </div>
        </form>
      </div>
        </div>
    </div>

    <!-- script -->

    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/all.min.js"></script>
    <!-- templates -->
    <script src="/static/js/vendor/slick/slick.js"></script>
    <script src="/static/js/jquery.nicescroll.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
