<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>BBC News - Administration</title>
</head>
<body>
    <h1>BBC News Administration</h1>

    <form action="#" method="POST">
        <label for="admin_username">Username</label>
        <input type="text" name="admin_username" id="admin_username">
        <label for="admin_email">Email</label>
        <input type="email" name="admin_email" id="admin_email">
        <label for="admin_password">Password</label>
        <input type="password" name="admin_password" id="admin_password">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>