/* 
    1. Global styles
    2. Header
        2.1 Navigation
        2.2 Socials
        2.3
    3. Carousel
    5.
*/

/* ########## 1.Global styles ########## */
:root {
    --purple: #7d81e9;
    --purple-2: #9ba2f4;
    --purple-3: #c8ccff;
    --red: #f66568;
    --red-2: #ff8e90;
    --red-3: #ffcecf;
    --white: #ffffff;
    --light: #f6f6f6;
    --gray: #666666;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 4.3em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header,
section {
    padding: 0 3rem;
}

/* ########## 2. Header ########## */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

header a#logo {
    text-decoration: none;
    color: var(--red);
    font-weight: bold;
    font-size: 1.8em;
}

/* ########## 2.1 Navigation ########## */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:visited {
    color: black;
}

nav ul li.active a {
    color: var(--red);
    font-weight: bold;
}

/* ########## 2.2 Socials ########## */
.socials ul {
    display: flex;
    flex-direction: row;
}

.socials ul li {
    font-size: 1.1em;
}

.socials ul li a {
    color: var(--red);
    padding: 8px;
    font-size: 1.2em;
}

/* ########## 3. Carousel ########## */
.carousel {
    width: 100%;
    height: 350px;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carousel-description {
    width: 50%;
    margin: 20px 30px 20px 0;
}

.carousel-description h1 {
    margin: 25px 0;
}

.carousel-description p {
    font-size: 1.2em;
    line-height: 1.5;
}

.carousel-sliders {
    padding: 1em 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.carousel-sliders a:first-child {
    margin-right: 8px;
}

.carousel-sliders a:hover {
    background-color: var(--red);
    border-radius: 50%;
}

.carousel-sliders a i {
    color: var(--red);
    font-weight: bold;
    padding: 4px 6px;
    border: 3px solid var(--red);
    border-radius: 50%;
}

.carousel-sliders a:hover i {
    color: var(--light);
}

.carousel .carousel-images {
    width: 50%;
    background-color: #7d81e9;
}

/* ================= MAIN ================= */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2.5em;
}

.rows {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
}

/* ================= ARTICLE ================= */
.rows article {
    width: 480px;
    padding: 15px 30px;
    margin: 15px;
}

.rows article .article-cover-image {
    height: 296px;
    background-color: var(--purple-2);
    border-radius: 5px;
    position: relative;
    margin-bottom: 15px;
}

.rows article .article-cover-image span.category {
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: var(--red);
    position: absolute;
    border-radius: 5px;
    color: var(--light);
    font-size: 0.9em;
    top: 20px;
    right: 20px;
}

.rows article .article-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

.rows article .article-details span.posted-date {
    color: var(--gray);
    font-size: 0.9em;
}

.rows article .article-details ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rows article .article-details ul li {
    padding: 5px 10px;
    background-color: var(--red-3);
    border-radius: 50%;
}

.rows article .article-details ul li:first-child {
    margin-right: 5px;
}

.rows article .article-details ul li a {
    color: var(--red);
    font-size: 0.9em;
}

.rows article .article-description h3 {
    font-size: 1.9em;
    margin: 15px 0;
}

.rows article .article-description p {
    font-size: 0.8em;
    line-height: 1.5;
}

.rows article .article-description a.read-more {
    text-decoration: none;
    color: var(--red);
    font-size: 0.9em;
}

.view-more-container {
    text-align: center;
}

.view-more-container a.view-more-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--light);
    background-color: var(--purple);
    border-radius: 10px;
}

/* ================= TOP RECIPES ================= */
/* .top-recipes {
  display: flex;
  flex-direction: column;
}
.top-recipes .rows article:first-of-type {
  flex-grow: 2;
} */
/* ================= LATEST RECIPES ================= */
/* ================= AUTHOR ================= */
#author {
    width: 100%;
    height: 596px;
}

.author-profile {
    background-color: var(--red);
    padding: 30px;
}

/* ================= SUBSCRIPTION ================= */