:root {
  --purple: #7d81e9;
  --purple-2: #9ba2f4;
  --purple-3: #c8ccff;
  --red: #f66568;
  --red-2: #ff8e90;
  --red-3: #ffcecf;
  --white: #ffffff;
  --light: #f6f6f6;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ================= HEADER ================= */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

header a#logo {
  display: inline-block;
  text-decoration: none;
  color: var(--red);
  font-weight: bold;
  font-size: 1.8em;
}

/* ================= NAV ================= */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:visited {
  color: black;
}

nav ul li.active a {
  color: var(--red);
  font-weight: bold;
}

/* ================= SOCIALS ================= */
.socials ul {
  display: flex;
  flex-direction: row;
}
.socials ul li {
  font-size: 1.1em;
}
.socials ul li a {
  color: var(--red);
  padding: 8px;
  font-size: 1.2em;
}

/* ================= CAROUSEL ================= */
.carousel {
  width: 100%;
}
.carousel .carousel-items {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.carousel .carousel-items .carousel-description{
  width: 50%;
  padding: 10px;
}
.carousel-description h1 {
  font-size: 4.5em;
  margin: 20px 0;
}
.carousel-sliders {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.carousel-sliders a:first-child {
  margin-right: 8px;
}
.carousel-sliders a i {
  color: var(--red);
  font-weight: bold;
  padding: 4px 6px;
  border: 3px solid var(--red);
  border-radius: 50%;
}
.carousel-sliders a:hover {
  background-color: var(--red);
  border-radius: 50%;
}
.carousel-sliders a:hover i {
  color: var(--light);
}
.carousel .carousel-items .carousel-images {
  width: 50%;
  background-color: #7d81e9;
}

/* ================= MAIN ================= */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;
}

/* ================= TOP RECIPES ================= */
.top-recipes {
  display: flex;
  flex-direction: column;
}
.top-recipes h2 {
  font-size: 3em;
}
.top-recipes .first-row,
.top-recipes .second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* ================= LATEST RECIPES ================= */
/* ================= AUTHOR ================= */
/* ================= SUBSCRIPTION ================= */
