<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Wlog - Blog and Magazine HTML template </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Blog">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    
    <%- include('../user/base/css') %> 
</head>
<body class="homepage2">

<div class="blog_main_wrapper">

    <!-- top header -->
    <%- include('../user/base/top_header') %>
	<!-- end top header -->
	

	<div class="blog_main_wrapper blog_toppadder100 blog_bottompadder100">
		<div class="blog_innerpages blog_aboutpage">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="blog_error_data">
					<h1>Error</h1>
					<h2>500</h2>
					<h3>Internal Server Error</h3>
					<a href="/" class="blog_btn blog_bg_pink">back to home</a>
				</div>
			</div>
		</div>
	</div>

</div>

<%- include('../user/base/js') %> 
</body>
</html>