<div class="blog_top_header_wrapper">
  <div class="blog_tranding_div">
    <h5>Trending News</h5>
  </div>
  <div class="blog_tranding_slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p>
            <span
              ><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="16px">
                <path
                  fill-rule="evenodd"
                  fill="rgb(255, 54, 87)"
                  d="M19.414,7.999 L17.617,7.999 C17.293,7.999 17.031,7.744 17.031,7.428 C17.031,7.112 17.293,6.856 17.617,6.856 L19.414,6.856 C19.738,6.856 20.000,7.112 20.000,7.428 C20.000,7.744 19.738,7.999 19.414,7.999 ZM17.445,5.546 C17.217,5.769 16.846,5.769 16.617,5.546 C16.388,5.323 16.388,4.962 16.617,4.738 L17.789,3.596 C18.018,3.372 18.388,3.372 18.617,3.596 C18.846,3.819 18.846,4.180 18.617,4.403 L17.445,5.546 ZM14.102,13.714 C13.454,13.714 12.930,13.202 12.930,12.571 L12.930,1.142 C12.930,0.511 13.454,-0.001 14.102,-0.001 C14.749,-0.001 15.273,0.511 15.273,1.142 L15.273,12.571 C15.273,13.202 14.749,13.714 14.102,13.714 ZM8.242,10.341 L8.242,3.372 C9.373,3.245 10.426,2.776 11.243,1.980 L11.758,1.477 L11.758,12.236 L11.243,11.734 C10.426,10.937 9.373,10.468 8.242,10.341 ZM5.313,15.999 C4.343,15.999 3.555,15.231 3.555,14.285 L3.555,11.370 C3.744,11.408 3.940,11.428 4.141,11.428 L7.070,11.428 L7.070,14.285 C7.070,15.231 6.282,15.999 5.313,15.999 ZM2.491,9.142 L2.383,9.142 C1.090,9.142 -0.000,8.117 -0.000,6.856 C-0.000,5.596 1.090,4.571 2.383,4.571 L2.491,4.571 C2.733,3.907 3.378,3.428 4.141,3.428 L7.070,3.428 L7.070,10.285 L4.141,10.285 C3.378,10.285 2.733,9.806 2.491,9.142 ZM17.446,9.310 L18.617,10.452 C18.846,10.676 18.846,11.037 18.617,11.260 C18.389,11.484 18.018,11.484 17.789,11.260 L16.617,10.118 C16.388,9.894 16.388,9.533 16.617,9.310 C16.846,9.087 17.217,9.087 17.446,9.310 Z"
                /></svg
            ></span>
            Parquet Courts on Resisting Nihilism & Why Tourism in Dubai is booming the world.
          </p>
        </div>
        <div class="swiper-slide">
          <p>
            <span
              ><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="16px">
                <path
                  fill-rule="evenodd"
                  fill="rgb(255, 54, 87)"
                  d="M19.414,7.999 L17.617,7.999 C17.293,7.999 17.031,7.744 17.031,7.428 C17.031,7.112 17.293,6.856 17.617,6.856 L19.414,6.856 C19.738,6.856 20.000,7.112 20.000,7.428 C20.000,7.744 19.738,7.999 19.414,7.999 ZM17.445,5.546 C17.217,5.769 16.846,5.769 16.617,5.546 C16.388,5.323 16.388,4.962 16.617,4.738 L17.789,3.596 C18.018,3.372 18.388,3.372 18.617,3.596 C18.846,3.819 18.846,4.180 18.617,4.403 L17.445,5.546 ZM14.102,13.714 C13.454,13.714 12.930,13.202 12.930,12.571 L12.930,1.142 C12.930,0.511 13.454,-0.001 14.102,-0.001 C14.749,-0.001 15.273,0.511 15.273,1.142 L15.273,12.571 C15.273,13.202 14.749,13.714 14.102,13.714 ZM8.242,10.341 L8.242,3.372 C9.373,3.245 10.426,2.776 11.243,1.980 L11.758,1.477 L11.758,12.236 L11.243,11.734 C10.426,10.937 9.373,10.468 8.242,10.341 ZM5.313,15.999 C4.343,15.999 3.555,15.231 3.555,14.285 L3.555,11.370 C3.744,11.408 3.940,11.428 4.141,11.428 L7.070,11.428 L7.070,14.285 C7.070,15.231 6.282,15.999 5.313,15.999 ZM2.491,9.142 L2.383,9.142 C1.090,9.142 -0.000,8.117 -0.000,6.856 C-0.000,5.596 1.090,4.571 2.383,4.571 L2.491,4.571 C2.733,3.907 3.378,3.428 4.141,3.428 L7.070,3.428 L7.070,10.285 L4.141,10.285 C3.378,10.285 2.733,9.806 2.491,9.142 ZM17.446,9.310 L18.617,10.452 C18.846,10.676 18.846,11.037 18.617,11.260 C18.389,11.484 18.018,11.484 17.789,11.260 L16.617,10.118 C16.388,9.894 16.388,9.533 16.617,9.310 C16.846,9.087 17.217,9.087 17.446,9.310 Z"
                /></svg
            ></span>
            Parquet Courts on Resisting Nihilism & Why Tourism in Dubai.
          </p>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="6px">
          <path
            fill-rule="evenodd"
            fill="rgb(255, 255, 255)"
            d="M5.390,5.837 L9.840,1.292 C9.943,1.187 10.000,1.046 10.000,0.897 C10.000,0.747 9.943,0.607 9.840,0.502 L9.513,0.167 C9.299,-0.051 8.952,-0.051 8.739,0.167 L5.002,3.983 L1.261,0.163 C1.158,0.057 1.021,-0.000 0.874,-0.000 C0.728,-0.000 0.590,0.057 0.487,0.163 L0.160,0.497 C0.057,0.603 -0.000,0.743 -0.000,0.893 C-0.000,1.042 0.057,1.182 0.160,1.287 L4.614,5.837 C4.717,5.942 4.855,6.000 5.002,5.999 C5.149,6.000 5.287,5.942 5.390,5.837 Z"
          />
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="7px">
          <path
            fill-rule="evenodd"
            fill="rgb(255, 255, 255)"
            d="M4.610,0.163 L0.160,4.708 C0.057,4.813 -0.000,4.953 -0.000,5.103 C-0.000,5.253 0.057,5.393 0.160,5.498 L0.487,5.833 C0.701,6.050 1.048,6.050 1.261,5.833 L4.998,2.016 L8.739,5.837 C8.842,5.942 8.979,6.000 9.126,6.000 C9.272,6.000 9.410,5.942 9.513,5.837 L9.840,5.502 C9.943,5.397 10.000,5.257 10.000,5.107 C10.000,4.958 9.943,4.817 9.840,4.712 L5.386,0.163 C5.283,0.058 5.145,-0.000 4.998,0.000 C4.851,-0.000 4.713,0.058 4.610,0.163 Z"
          />
        </svg>
      </div>
    </div>
  </div>
  <% if (typeof information !== 'undefined' && information != null) { %> 
  <div class="blog_profile">
    <div class="blog_main_menu">
      <div class="blog_main_menu_innerdiv">
      <ul>
        <li class="blog_dropdown">
          <a href="#" class="blog_auth"><i class="fa fa-user"></i><%= information.username %></a>
          <ul class="sub-menu profile_sub_menu">
              <li><a href="/profile">Profile</a></li>
              <li><a href="blog_single_with_sidebar.html">Articles</a></li>
              <li><a href="contactus.html">Statistics</a></li>
              <li><a href="/profile/change_password">Change password</a></li>
              <li><a href="/logout">Log out</a></li>
          </ul>
        </li>
      </ul>
      </div>
   </div>
  </div>
  <% } else { %>
    <!-- Sign up -->
  <div class="blog_date_div">
    <a class="blog_auth" href="/signup"> <i class="fa fa-user-plus"></i>Sign up </a>
  </div>
  <!-- Log in -->
  <div class="blog_temperature_div">
      <a class="blog_auth" href="/login"> <i class="fa fa-sign-in"></i>Log in </a>
  </div>
  <% } %> 
</div>
