  <!-- Flash -->
  <%- include('../base/flash_messages') %>
  <!-- Form -->
    <form action="/profile/change_password" method="POST" class="profile_information_form">
    <div class="contact_form">
      
      <div class="form-group row">  
      <!-- Old Password -->
        <label for="old_password" class="col-sm-2 col-lg-3 offset-lg-1 col-form-label">Present password</label>
        <div class="col-lg-7 col-md-9 col-sm-12 col-12">
          <div class="blog_form_group">
          <input type="password" id="present_password" name="present_password" class="form-control" placeholder="Enter your present password" required>
          <% if (typeof errors !== 'undefined' && errors) { %>
            <% errors.forEach( (error) =>  { %> 
              <% if (error.param === 'present_password') { %> 
            <div class="invalid-input">
              <p><%= error.msg %> </p>
            </div>
              <% } %>
            <% }) %>
          <% } %>
          </div>
        </div>
      </div>
        
      <div class="form-group row">
        <!-- Email -->
        <label for="new_password" class="col-sm-2 col-lg-3 offset-lg-1 col-form-label">New password</label>
        <div class="col-lg-7 col-md-9 col-sm-12 col-12">
          <div class="blog_form_group">
            <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Enter your new password" required>
            <% if (typeof errors !== 'undefined' && errors) { %>
                <% errors.forEach( (error) =>  { %> 
                    <% if(error.param === 'new_password') { %> 
                  <div class="invalid-input">
                      <p><%= error.msg %> </p>
                  </div>
                    <% } %> 
                <% }) %>
              <% } %>
          </div>
        </div>
      </div>
      
      <div class="form-group row">
        <!-- Confirm password -->
        <label for="confirm_password" class="col-sm-2 col-lg-3 offset-lg-1 col-form-label">Confirm New Password</label>
        <div class="col-lg-7 col-md-9 col-sm-12 col-12">
          <div class="blog_form_group">
            <input class="form-control" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm your new password here" >
           
            <% if (typeof errors !== 'undefined' && errors) { %>
              <% errors.forEach( (error) =>  { %> 
              <% if(error.param === 'confirm_password') { %>
            <div class="invalid-input">
              <p><%= error.msg %> </p>
            </div>
              <% } %> 
              <% }) %> 
            <% } %>
          </div>
        </div>
      </div>
                      
      <div class="form-group row">
        <button id="information_save_btn" class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12 blog_btn">Update changes</button>
      </div>
    </form>