<% if(messages.success) { %>
    <div class="alert alert-success" role="alert">
        <%= messages.success %> 
    </div>
<% } else if (messages.fail) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.fail %> 
    </div>
<% } %> 
